/* Common Css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.anchor_button {
    color: #fff;
    background-color: #e02c6d;
    text-decoration: none;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
}

.anchor_button i {
    padding-left: 8px;
}

.anchor_button:hover {
    color: #ffffffad;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 70px 0;
}

h3. {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}


/* banner css */


header {
    background-color: #2d25a0;
}
.banner {
    display: flex;
    justify-content: space-around;
    margin: 0 140px;
    padding: 86px 0;
}

.banner_title {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
}

.banner_right img {
    width: 556px;
    height: 438px;
}

.banner:hover .banner_right img {
    transform: scale(1.2);
    overflow: hidden;
    transition: transform ease-in-out 2s;
}


/* Player CSS */

.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
}

.player {
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}

.player_image img {
    width: 100%;
    height: 256px;
}

