/* Common Css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.anchor_button {
    color: #fff;
    background-color: #e02c6d;
    text-decoration: none;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
}

.anchor_button i {
    padding-left: 8px;
}

.anchor_button:hover {
    color: #ffffffad;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 70px 0;
}

h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin: 10px 0;
}


h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}


.section_title {
    text-align: center;
    margin-bottom: 40px;
}

hr {
    width: 600px;
}
/* banner css */


header {
    background-color: #2d25a0;
}
.banner {
    display: flex;
    justify-content: space-around;
    margin: 0 140px;
    padding: 86px 0;
}

.banner_title {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
}

.banner_right img {
    width: 556px;
    height: 438px;
}

.banner:hover .banner_right img {
    transform: scale(1.2);
    overflow: hidden;
    transition: transform ease-in-out 2s;
}


/* Player CSS */

.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
}

.player {
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}

.player_image img {
    width: 100%;
    height: 256px;
}

/* HighLights Area */

.highlights {
    display: flex;
}

.highlight_left {
    width: 470px;
    height: 310px;
}

.highlight_left p {
    margin-bottom: 24px;
}

.highlight_right img {
    width: 567px;
    height: 427px;
    margin-left: 100px;
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_area img {
    width: 483px;
}

.social_icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social_icons ul li {
    float: left;
    font-size: 32px;
    margin: 0 10px;
}

.social_icons ul li a {
    color: #969BAB;
}

.social_icons ul li a:hover {
    color: black;
}

/* News Area */
.blogs{
    display: flex;
}
.blog {
    width: 362px;
    height: 309px;
    border: 2px solid red;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

}

.blog_photo img {
    width: 100%;
    border-radius: 10px;
}

.blog_details {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 10px 10px;
    background: #fff;
    height: 309px;
    opacity: .7;
    border-radius: 5px;
    display: none;
}

.blog_details h4 {
    text-align: center;
    background: #437abb;
    padding: 5px;
    border-radius: 5px;
}

.blog_details span {
    font-size: 132px;
}

.blog:hover .blog_details {
    display: block;
}
.blog:hover .blog_photo{
    transform: scale(1.5) rotate(360deg) ;
    transition: transform 2s ease-in-out;
}


/* About CSS */

.abouts {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 65px;
}

.about {
    text-align: center;
    border: 2px solid #ddd;
    padding: 10px;
}

.about_icon {
    font-size: 20px;
}

.about:hover {color: #fff;
    background-color: #000;
    opacity: .7;
    transition:background-color 1s;}

.about:hover p{
    color: #fff;
    transition: 1s;
}